body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #00000;
  background-image: url('img/food.jpg');
}

h1 {
  text-align: center;
  color: #ffffff;
  border: solid rgb(255, 255, 255);
  width: 100%;
}

#about {
  color: #ffffff;
  position: inherit;
  text-align: center;
  cursor: pointer;
}

#about:hover {
  color: #d83232;
}

.aboutPara {
  margin: auto;
  border: solid #ffffff;
  background-color: #3b3b3b;
  color: #ffffff;
  width: 75%;
}

.aboutLink {
  color: inherit;
  text-decoration: none;
}

#returnHome {
  text-decoration: none;
  text-align: center;
}

#returnHome:hover {
  color: #d83232;
}

.statement {
  color: #ffffff;
}

form {
  text-align: center;
  margin: 50px;
}

.statement {
  margin-bottom: 10px;
}

.search {
  width: 50%;
  position: relative;
  display: flex;
  margin: auto;
}

#foodSearchInput {
  width: 100%;
  border: 3px solid #ffffff;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(255, 255, 255);
}

#foodSearchInput:focus{
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ffffff;
  background: #ffffff;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  margin-bottom: 10px;
  width: 100%;
}

.indexToHome {
  text-align: center;
}

#takeMeHome {
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
  background-color: #ffffff;
  border: solid #3b3b3b;
  text-decoration: none;
  cursor: pointer;
}

#takeMeHome:hover {
  color: #d83232;
}

#newTable {
  margin: auto;
  border: 3px solid #3b3b3b;
  background-color: #ffffff
  width: 100%;
}

.theWholeTable {
  color: #ffffff;
  text-align: center;
}

/* th {
  color: #ffffff;
} */
/* 
label {
  color: #ffffff;
} */

#myTable_info.dataTables_info {
  color: #ffffff;
}

#myTable_next.paginate_button.next.disabled {
  color: #ffffff;
}

#newTable_wrapper {
  text-align: center;
}

.dataTables_wrapper {
  background-color: #cac4c480;
}

div#newTable_paginate {
      cursor: pointer;
}

.paginate_button.disabled {
  color: #ffffff;
}
